.homepage {
  font-family: 'Times New Roman', Times, serif;
}

.logo {
  max-width: 80px;
  height: auto; 
  margin-right: 15px;
}

.homepage-header {
  background-color: #002366; /* navy blue */
  max-height: 60px;
  color: white;
  display: flex;
  justify-content: flex-start; /* align items to the left */
  align-items: center;
  padding: 10px 20px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  justify-content: flex-start; 
}

.navbar ul li {
  text-align: left; /* align text inside list items to the left */
}

.navbar ul li a {
  font-size: 24px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.homepage-banner {
  display: flex;
  flex-direction: column; /* stack the calendar below the Scores/Schedule */
  padding: 10px 20px;
  color: black;
}

.banner {
  display: flex;
  gap: 25px; /* space between the two words */
  justify-content: flex-start; 
}

.banner h2:first-child {
  padding-left: 30px;
  color: navy; 
}

.banner h2:nth-child(2) {
  color: grey; 
}

.calendar-container {
  display: flex;
  justify-content: flex-start; /* Align calendar to the left */
  width: 100%;
}

.calendar-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #888; 
}

.nav-arrow {
  font-size: 24px;
  cursor: pointer;
  padding: 0 10px;
  color: #888; /* light grey color */
}

.dates {
  display: flex;
  gap: 20px; /* spacing between dates */
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.date .day {
  font-size: 12px;
  color: #888;
}

.date .date-number {
  font-size: 16px;
  color: #888;
}

.today .date-number {
  font-weight: bold;
  color: #000; /* bold today */
}

.calendar-icon {
  font-size: 24px;
  padding-left: 10px;
  cursor: pointer;
  color: #4682B4; 
}  

.content {
  padding: 20px;
}

.event-container {
  display: flex;
  justify-content: space-around; /* space between the event boxes */
  gap: 20px;
  padding: 20px;
  background-color: #f8f9fa;
}

.event-box {
  background-color: white;
  padding: 20px;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* adds a subtle shadow */
}

.game-time {
  font-weight: bold;
  margin-bottom: 10px;
}

.teams-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.team {
  text-align: center;
}
